/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: 2px solid #4caf50;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.button:hover {
  background-color: #45a049;
  border-color: #45a049;
}

.goback {
  background-color: #3a5b66;
  border: 2px solid #142515;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}
.goback:hover {
  background-color: #678168;
  border-color: #678168;
}

h1 {
  color: #333;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #969ab0;
  cursor: pointer;
}

tr[data-href] {
  cursor: pointer;
}

.client-details {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.client-details h1 {
  font-size: 1.8em;
  color: #333;
  margin-bottom: 20px;
}

.client-details p {
  font-size: 1em;
  color: #555;
  margin: 10px 0;
}

.client-details p strong {
  font-weight: bold;
}

.cards-section {
  margin-top: 30px;
}

.cards-section h2 {
  font-size: 1.5em;
  color: #4caf50;
  margin-bottom: 15px;
}

.cards-list {
  list-style-type: none;
  padding: 0;
}

.card-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 15px;
  margin-bottom: 15px;
}

.card-item p {
  font-size: 0.9em;
  color: #555;
  margin: 5px 0;
}

.card-item p strong {
  font-weight: bold;
}

.delete-button {
  background-color: #f44336;
  border: 2px solid rgb(158, 94, 38);
  border-radius: 4px;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}

.delete-button {
  margin-top: 15px;
  width: 100%;
  transition: background-color 0.3s ease;
}
.delete-button:hover {
  background-color: #d32f2f;
}

/* Hover effect on card items */
.card-item:hover {
  background-color: #ececec;
  transition: background-color 0.2s ease;
}

.logoutbutton {
  background-color: #f51b1b;
  color: black;
  padding: 10px 20px;
  border: 2px solid #e94933;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.logoutbutton:hover {
  background-color: #e53d3d;
}

.switch-button {
  background-color: #0e5f9b;
  color: white;
  padding: 10px 20px;
  border: 2px solid #0e5f9b;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}
.switch-button:hover {
  background-color: #3182bd;
}
