<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alta de Tarjeta</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'clientes/styles.css' %}" />
  </head>
  <body>
    <h1>Alta de Tarjeta para {{ cliente.nombre }} {{ cliente.apellido }}</h1>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit" class="button">Guardar</button>
    </form>
    <a href="{% url 'clientes:detail' cliente.id %}" class="goback">Volver al Detalle</a>
  </body>
</html>
