<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Clientes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'clientes/styles.css' %}" />
  </head>
  <body>
    <h1>Listado de cuentas</h1>
    {% if clientes %}
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Dni</th>
          <th>Direcciones</th>
          <th>ID Tipo Cliente (1- Classic, 2- Gold, 3-Black)</th>
        </tr>
      </thead>
      <tbody>
        {% for cliente in clientes %}
        <tr data-href="{% url 'clientes:detail' cliente.id %}">
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.dni }}</td>
          <td>
            <ul>
              {% for direccion in cliente.direcciones.all %}
              <li>{{ direccion }}</li>
              {% endfor %}
            </ul>
          </td>
          <td>{{ cliente.tipo_id }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No hay clientes disponibles.</p>
    {% endif %}
    <a href="{% url 'clientes:alta' %}" class="button">Crear Cliente</a>
    <a href="{% url 'empleados:lista_empleados' %}" class="switch-button">Ir a menú empleados</a>
    <a href="{% url 'login:logout' %}" class="logoutbutton">Cerrar Sesión</a>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");
        rows.forEach((row) => {
          row.addEventListener("click", () => {
            window.location.href = row.getAttribute("data-href");
          });
        });
      });
    </script>
  </body>
</html>
