html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  background-color: rgb(179, 165, 165);
}

h1 {
  color: white;
  font-size: 2rem;
}

.footer {
  color: white;
  padding: 20px;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 2;
}

.social-icons {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.social-icons li {
  display: inline-block;
  margin: 0 10px;
}

.social-icons a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}
