.main-content {
  display: inline-flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en líneas nuevas */
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  padding: 20px; /* Añade un poco de espacio alrededor del contenido */
}

#seccion_dolares,
#seccion_fondos,
#seccion_plazo_fijo {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 20px); /* Ajusta el ancho para que tres elementos quepan en una fila con márgenes */
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para efectos */
}

#seccion_dolares:hover,
#seccion_fondos:hover,
#seccion_plazo_fijo:hover {
  transform: translateY(-5px); /* Eleva ligeramente el elemento al pasar el ratón */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al pasar el ratón */
}

@media (max-width: 768px) {
  #seccion_dolares,
  #seccion_fondos,
  #seccion_plazo_fijo {
    width: 100%; /* Los elementos ocupan todo el ancho en pantallas pequeñas */
    margin-bottom: 20px; /* Mantiene el margen inferior */
  }
}
